<form action="" [formGroup]="cardForm" (ngSubmit)="onSubmit()">
  <app-input label="Name" [control] = "cardForm.get('name')"></app-input>
  <app-input label="CardNumber" [control] = "cardForm.get('card')"></app-input>
  <app-input label="Expiration (MM/YY)" [control] = "cardForm.get('expiration')"></app-input>
  <app-input label="Security Code" [control] = "cardForm.get('securityCode')"></app-input>
  <button [disabled]="cardForm.invalid" class="button is-primary" type="submit">Submit!!</button>
</form>
<div>Form Content: {{cardForm.value | json }}</div>
<div>Form is valid: {{cardForm.valid}}</div>
<div>Form is valid: {{cardForm.controls.name.errors | json}}</div>
