<div class="field">
  <label class="label">{{ label}}</label>
  <div class="control">
    <input class="input"
           mask="SSSS SSSS"
           [ngClass]="{'is-danger': showError()}"
           type="text" [formControl]="control ">
  </div>
  <ng-container
    *ngIf="showError()">
    <div *ngIf="control.errors.required" class="help is-danger">
      Value is required
    </div>
    <div *ngIf="control.errors.minLength">
      Value u entered is {{control.errors.minLength.actualLength}}
      characters long, but it must be at least {{control.errors.minLength.requiredLenth}}
    </div>
  </ng-container>
</div>
